body {
    background-color: rgb(215, 216, 216);
}

p {
    border: solid;
    padding: 50px;
}

.logo {
    float: right;
    border-radius: 50px;
    margin-right: 200px;
}

.hren {
    margin: 600px;
}