.j {border-radius: 20px;
    float: left;
    
}

body {
    background-color: rgb(152, 152, 148);
}

.Space {
    padding: 10px;
}

.Jo {
    margin-left: 500px;
}


.plus {
    padding: 50px;
    margin-right: 300px;
}